

.navbar{
    background-color: rgb(48, 112, 55);
}

.quem-somos{
    background-color: rgb(140, 184, 147);
    color: rgb(255, 255, 255);
}

.parceiros{
    background-color: rgb(118, 152, 123);
    color: rgb(255, 255, 255);
}

.servicos{
    background-color: rgb(87, 112, 91);
    color: rgb(255, 255, 255);
}

.margin{
    padding-top: 20px;
    padding-bottom: 50px;
}

.margin-escrita{
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-footer{
    background-color: rgb(48, 112, 55);
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}